body {
    font-family: Arial, sans-serif;
    background-color: #e5eaea;

}
header {
    display: flex;
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(212, 238, 252);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-content:space-between;
    justify-content: space-between; /* 將子元素推向兩端 */
    align-items: center; 
}

.footer {
    font-size: 0.8em;
    background-color: #516c72;
    color: #ffffff;
    padding: 4px 0;
    text-align: center;
}

.logo {
    font-size: 1.5em;
    color: #516c72;
    font-weight: bold;
    display: inline-block;
}

nav {
    float: right;
    position: absolute;
    top: 6px; /* 調整上方偏移量 */
    right: -50px; /* 調整右側偏移量 */
    margin: 5px; /* 可選,調整與框邊緣的間距 */
}

nav ul {
    padding: 50px 100px; /* ! */
    display: inline;
}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero-image {
    display: inline-block;
    position:relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.caption {
    color: white;
    font-size: 17pt;
    display: inline-block;
    position: relative;
    top: -510px;
    left: 65%;
}

.caption h1 {
    display: inline-block;
    font-size: 2.5em;
    margin: 0;
} 

.caption p {
    top: -570px;
    display: inline-block;
    font-size: 1.2em;
    color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display : inline-block;
    position: relative;
    top: -332px;
    left: 10%;
} 

.container2 {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display : inline-block;
    position:absolute;
    top: 10px; /*[wherever you want it]*/
    left:100px; /*[wherever you want it]*/
    position: relative;
    /*top: -280px;
    left: 10%;*/
}

.tab {
    justify-content: space-around;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 3px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    font-weight: bold;
}

.tabcontent {
    display: none;
    padding: 0px;
    border-top: none;
}

.rental-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    margin: 0 5px;
    min-width: 180px;
}

.form-group i {
    margin-left: 8px;
}

.form-group input{
    margin-bottom: 3px;
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    width: 100%;
}

.form-group select {
    margin-bottom: 3px;
    border: none;
    outline: none;
    background: none;
    width: 65%;
}
.form-group2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    margin: 0 5px;
    min-width: 180px;
}

.form-group2 i {
    margin-left: 8px;
}

.form-group2 input{
    margin-bottom: 3px;
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    width: 100%;
}

.form-group2 select {
    margin-bottom: 3px;
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

button[type="submit"] {
    background-color: #516c72;
    /* color: white; */
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 0;
}

button[type="submit"]:hover {
    background-color: #516c72;
}
.reviews {
    max-width: 1300px;
    position: absolute;
    left: 0px;
    top: 800px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 1px;
    margin-bottom: -10px;
    margin-top: -30px;
}

.footer-logo {
    max-width: 150px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    /* margin-top: -30px; */
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column p {
    font-size: 9px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons li a img {
    width: 30px;
    height: 30px;
}

div h3{
    font-size: 1.2em;
}

.user-menu {
    /* width: 10%; */
    max-width: 1200px;
    margin-top: 20px;
    margin: auto;
    border-radius: 15px;
    background-color: #fff;
    display : inline-block;
    position: relative;
    left: 40%;
} 

.dropdown {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
}

.dropdown p {
    margin: 10px 0;
    color: black;
}

.dropdown button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: left;
    border-radius: 12px;
}

.dropdown button:hover {
    background-color: #ddd;
}

.user-icon {
    cursor: pointer;
    width: 57px;
    height: 24px;
    /* border-radius: 50%; */
}

